body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.table-wrapper {
    max-height: 450px;
    overflow: auto;
    border: 1px solid #D6D6D6;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #00304F !important;
    color: white !important;
    padding: 10px;
    border-bottom: 4px solid #FF5E12 !important;
    position: sticky;
    top: 0;
}

td {
    padding: 10px;
    border: 1px solid #D6D6D6;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}
